body {
  -webkit-font-smoothing: antialiased;
  font-family: "Officina Book";
}

* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

.container {
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
  position: relative;
  padding: 0 30px;
  text-align: left;
}
